
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libre Baskerville", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img/asilo.img);
    background-size: cover;
    background-position: center;
}
.h1{
    width: 420px;
    margin: 0 auto;
    text-align: center;

}

.div1 {
    width: 420px;
    background-color: transparent;
    border-radius: 2px solid rgba(255,255,255, .2);
    border-radius: 10px;
    color: #ffff;
    padding: 30px 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.div2{
    align-items: center;
    justify-content: center;
    display: flex;
}

